<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">
<head>
  <title>Content page 1</title>
</head>
<body>
  <!-- Main Content -->
  <div layout:fragment="content" id="content">

    <!-- Topbar -->
    <nav th:replace="fragments/common.html :: topbar"></nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">
      <h1>This is the Home Page</h1>

      <h2>Current User: <span th:text="${userId}">unknown</span></h2>
      <table title="SAML Attributes" border="1">
        <thead>
        <tr>
          <td colspan="2" style="text-align: center"><b>SAML Attributes</b></td>
        </tr>
        <tr>
          <td><b>Attribute Name</b></td>
          <td><b>Attribute Value</b></td>
        </tr>
        </thead>
        <tr th:each="attribute : ${samlAttributes}">
          <td th:text="${attribute.key}">key</td>
          <td th:text="${attribute.value}">value</td>
        </tr>
      </table>
      <p>
        <a th:href="@{/saml/logout}">Idp Single Logout</a> - <a th:href="@{/saml/logout?local=true}">Local Logout</a>
      </p>

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
  <script layout:fragment="script" src="./js/index.js"></script>
</body>
</html>
